

<div class="pre-negative white" ng-style="{'margin-top':'400px'}" ng-controller="EditController">
  <div id="profile-title" class="container">
    <div class="row negativeTopMargin">
      <div class="col">
        <div class="valign-wrapper">
          <div style="float:left;width:200px; height:200px">
            <img id="profile-pic" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p320x320/12038208_1157016594313579_7901493159971667180_n.jpg?oh=a3e31e742b5a89fafb210d51a23db18e&oe=580E4E77" width="200px" height="200px" alt="" class="circle" scroll>
          </div>

          <h4  ng-style="{'position': 'absolute','bottom': '40px'}">
           <span ng-show="fields.name.isEditing == false"> {{fields.name.value}} </span>
                                        <span ng-show="fields.name.isEditing == true">
                                            <input class="form-control edittitle" ng-model="fields.name.value" type="text">
                                        </span>
           <button ng-click="toggleEditMode('name')" type="button" class="btn btn-warning navbar-btn pull-right mynavbtn editbutton"> <span> {{ fields.name.isEditing == false ? 'Edit' : 'Save'}}</span> </button> 
        </h4>      
                        <!--removed data-toggle for manual use-->

        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m8 offset-m2 l6 offset-l3 ">
    <div>
      <div class="row valign-wrapper">
        <div class="col s12 white">
          <div class="container topMargin">
            <h5 class="green-text"> About me 
           <button ng-click="toggleEditMode('about')" type="button" class="btn btn-warning navbar-btn editbutton"> <span> {{ fields.about.isEditing == false ? 'Edit' : 'Save'}}</span> </button> 
            </h5>
            <span id="about-text" contenteditable="false"> {{fields.about.value}} </span>
            <h5 class="green-text bigTopMargin">Pictures
           <button type="button" class="btn btn-warning navbar-btn editbutton" ng-click="isAddingPicture = true"> <span> Add Picture</span> </button> 
              <span ng-show="isAddingPicture == true">
                  <input class="form-control" ng-model="newPicUrl" type="text" placeholder="Picture URL">
                  <button type="button" class="btn btn-warning navbar-btn editbutton" ng-click="addPicture(newPicUrl)" >
                    <span>Save</span>
                  </button>    
                  <button type="button" class="btn btn-warning navbar-btn editbutton" ng-click="isAddingPicture = false">
                    <span>Cancel</span>
                  </button>
              </span> 
            </h5>
            <div class="row showcase" ng-repeat="item in fields.pictures">

              <div class="col l6 pre-img" >
                <div class="img-showcase" ng-style="{'background-image':'url('+item.url+')'}">
              <button ng-click="removePicture($index)" type="button" class="btn btn-warning pull-right navbar-btn editbutton"> <span> Remove </span> 
              </button>
                </div>
              </div>                        
            </div>

            <h5 class="green-text bigTopMargin">Contact
           <!--<button type="button" class="btn btn-warning navbar-btn editbutton"> <span ng-click="addContact()"> Add Contact</span> </button> -->
            </h5>
            <div class="row">
              <div class="col l12" ng-repeat="item in fields.contact">
              <div class="editable contactWrapper">
              <span class="bold typeofcontact" contenteditable="false">{{item.title}}:</span>
              <span ng-show="fields.contact[$index].isEditing == false"> {{fields.contact[$index].value}} </span>
              <span ng-show="fields.contact[$index].isEditing == true">
                  <input class="form-control" ng-model="fields.contact[$index].value" type="text">
              </span>         
              <button ng-click="toggleEditMode('contact', $index)" type="button" class="btn btn-warning navbar-btn editbutton"> <span> {{ fields.contact[$index].isEditing == false ? getLabel(fields.contact[$index].value) : 'Save'}}</span> </button>
              <button ng-show="fields.contact[$index].value != '' "ng-click="removeContact($index)" type="button" class="btn btn-warning navbar-btn editbutton"> <span> Remove </span> </button>
               <br/>            
              </div>
            </div>
            </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>-->


