<div class="row col-xs-12 topbar" style="position:fixed !important; top:0;">
            <nav>
               <div class="container pnav">
                    <ul class="list-inline">
                        <li class="pull-left" id="logo"><p><span class="axle">AXLE</span><span class="interns"> Interns</span></p></li>
                        <button type="button" class="btn btn-warning navbar-btn pull-right mynavbtn" data-toggle="modal" data-target="#signin">Sign In</button>
                        <li class="pull-right navlinks"><a href="#">About</a></li> 
                    </ul>
                </div>
            </nav>
</div>
<div class="bgWrap">
  <div class="background-intro">
    <div class="background-layer">

    </div>


    <div class="background-img">
    </div>
  </div>
</div>